<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Criar Nova Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Favorecido</ion-label>
        <ion-input type="text" aria-label="name" legacy="true" formControlName="name" (click)="onPresentModalFavorecidoSearch()" placeholder="Favorecido" autofocus="true"></ion-input>
      </ion-item>

      <span *ngIf="formGroup.get('name').hasError('required') && (formGroup.get('name').touched || formGroup.get('name').dirty)">O campo Favorecido deve ser preenchido!</span>

      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="number" aria-label="value" legacy="true" formControlName="value" placeholder=""></ion-input>
      </ion-item>

      <span *ngIf="formGroup.get('value').hasError('required') && (formGroup.get('value').touched || formGroup.get('name').dirty)">O campo Valor deve ser preenchido!</span>

      <ion-item>
        <ion-label position="floating">Observação</ion-label>
        <ion-textarea aria-label="observation" legacy="true" formControlName="observation" placeholder=""></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button (click)="createIncome()" expand="block" color="primary">
      <ion-label>
        Create Income
      </ion-label>
    </ion-button>

  </form>

</ion-content>