<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Criar Nova Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Favorecido</ion-label>
        <ion-input type="text" #input formControlName="name" (click)="onPresentModalFavorecidoSearch()" placeholder="Favorecido" autofocus="true"></ion-input>
      </ion-item>

      <span *ngIf="formGroup.get('name').hasError('required')">Field Favorecido not be empty!</span>

      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input formControlName="value" placeholder="R$ 00,00"></ion-input>
      </ion-item>

      <span *ngIf="formGroup.get('value').hasError('required')">Field Valor not be empty!</span>

      <ion-item>
        <ion-label position="floating">Observação</ion-label>
        <ion-textarea formControlName="observation" placeholder="Observação"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button (click)="createIncome()" expand="block" color="primary">
      <ion-label>
        Create Income
      </ion-label>
    </ion-button>

  </form>

</ion-content>