<ion-header class="ion-no-border">

  <ion-toolbar color="primary">

    <ion-button slot="start" fill="clear" color="light">
      <ion-icon name="menu-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>

    <ion-title></ion-title>

    <ion-buttons slot="end">

      <ion-button fill="clear" color="light" (click)="openNotification()">
        <ion-icon name="notifications-outline"></ion-icon>
        <span>
          <ion-label>9</ion-label>
        </span>
      </ion-button>
  
      <ion-button fill="clear" color="light"  (click)="openPerfil()">
          <ion-icon name="person-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content color="primary">

  <div id="section1">

    <div class="card">

      <div class="value">

        <div class="total-balance">
          <ion-label>
            <h3><b>Saldo Total</b></h3>
            <p><b>{{ valorTotalDespesa | currency:'BRL' }}</b></p>
          </ion-label>
        </div>

        <div class="buttons-income-expense">
          <ion-buttons>
            <ion-button (click)="openModalIncome()">
              <ion-icon name="trending-up-outline" slot="icon-only" color="success" size="large"></ion-icon>
            </ion-button>
            <ion-button (click)="openModalExpense()">
              <ion-icon name="trending-down-outline" slot="icon-only" color="danger" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>

      </div>

      <section></section>

      <div class="options">

        <div class="saque_">
          <div class="saque" (click)="openWithdrawMoney()">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          <span>Sacar</span>
        </div>

        <div class="enviar_">
          <div class="enviar" (click)="openSendMoney()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
          <span>Transferir</span>
        </div>

      </div>

    </div>

  </div>

  <div class="demonstrativo"></div>

  <div class="totalizador1">

    <div class="receita">
      <ion-label>
        <h3>Income</h3>
        <p>R$ 10.000,00</p>
      </ion-label>
    </div>

    <div class="despesa">
      <ion-label>
        <h3>Expenses</h3>
        <p>R$ 10.000,00</p>
      </ion-label>
    </div>

  </div>

  <div class="totalizador2">

    <div class="investimento">
      <ion-label>
        <h3>Investimentos</h3>
        <p>R$ 10.000,00</p>
      </ion-label>
    </div>

    <div class="poupanca">
      <ion-label>
        <h3>Poupança</h3>
        <p>R$ 10.000,00</p>
      </ion-label>
    </div>

  </div>

  <div class="separador"></div>

  <div class="container">

    <div class="dividor-demonstrativo">
      <ion-label>Transações</ion-label>
      <ion-text>Ver Mais</ion-text>
    </div>
  
    <div class="transacoes">

      <div class="transacoes-card">

        <div class="imagem">
          <ion-img src="../../../assets/imagem/1.jpg" class="border"></ion-img>
        </div>

        <div class="favorecido">
          <ion-label>
            <h3>Amazon</h3>
            <p>Shopping</p>
          </ion-label>
        </div>

        <div class="valor">
          <p>- R$ 150.00</p>
        </div>

      </div>

      <div class="transacoes-card">

        <div class="imagem">
          <ion-img src="../../../assets/imagem/2.jpg"></ion-img>
        </div>

        <div class="favorecido">
          <ion-label>
            <h3>Apple</h3>
            <p>Shopping</p>
          </ion-label>
        </div>

        <div class="valor">
          <p>- R$ 250.00</p>
        </div>

      </div>

      <div class="transacoes-card">

        <div class="imagem">
          <ion-img src="../../../assets/imagem/avatar3.jpg"></ion-img>
        </div>

        <div class="favorecido">
          <ion-label>
            <h3>Alex Ljung</h3>
            <p>Tranferência</p>
          </ion-label>
        </div>

        <div class="valor">
          <p>- R$ 250.00</p>
        </div>

      </div>

      <div class="transacoes-card">

        <div class="imagem">
          <ion-img src="../../../assets/imagem/avatar4.jpg"></ion-img>
        </div>

        <div class="favorecido">
          <ion-label>
            <h3>Beatriz Brito</h3>
            <p>Tranferência</p>
          </ion-label>
        </div>

        <div class="valor">
          <p>- R$ 250.00</p>
        </div>

      </div>
  
    </div>

  </div>

</ion-content>
