ion-header {
    ion-toolbar {
        ion-buttons {
            ion-button {
                span {
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    background: red;
                    position: absolute;
                    top: 6%;
                    right: -26%;
                    font-size: 10px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                ion-icon {
                    font-size: 25px;
                }
            }
        }
    }
    .verificar-conexao {
        background: red;
        color: white;
        text-align: center;
    }
}

ion-content {
    #section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-medium-contrast); 
        .card {
            background: var(--ion-color-primary-contrast);
            border-radius: 10px;
            width: 94%;
            padding: 1.4rem;
            .value {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .total-balance {
                    ion-label {
                        h3 {
                            font-size: 1rem;
                        }
                        p {
                            margin-top: 1rem;
                            font-size: 2rem;
                            color: var(--ion-color-success-contrast);
                        }
                    }
                }
                .buttons-income-expense {
                    ion-buttons {
                        display: flex;
                        flex-direction: column;
                        ion-button {
                            background: var(--app-color-background-button);
                            border-radius: 10px;
                            margin: 2px;
                            ion-icon {
                                font-size: 200px;
                            }
                        }
                    }
                }
            }
            section {
                margin-top: 18px;
                border: var(--ion-color-light) 0.4px solid;
                background: var(--ion-color-light);
            }
            .options {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 40px;
                margin-left: 40px;
                ion-icon {
                    font-size: 25px;
                }
                .saque_, .enviar_ {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 9px;
                    span {
                        margin-top: 8px;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
                .saque {
                    background: #FF396F;
                    color: white;
                    border-radius: 10px;
                    padding: 10px;
                    width: 70px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .enviar { 
                    background: #6236FF;
                    color: white;
                    border-radius: 10px;
                    padding: 10px;
                    width: 70px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .demonstrativo {
        background: #ededf5;
        color: dark;
        height: 300px;
        margin-top: -16vh;
    }
    .totalizador1 {
        // border: red dashed 2px;
        width: 94%;
        margin-left: 3%;
        margin-top: -28vh;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .receita, .despesa {
            background: white;
            border-radius: 20px;
            padding: 15px;
            width: 200px;
        }
        .receita {
            ion-label {
                h3 {
                    color: #9b94a3;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                    color: #1dcc70;
                }
            }
        }
        .despesa {
            margin-left: 10px;
            ion-label {
                h3 {
                    color: #9b94a3;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                    color: #ff3a70;
                }
            }
        }
    }
    .totalizador2 {
        width: 94%;
        margin-left: 3%;
        margin-top: 3vh;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .investimento, .poupanca {
            background: white;
            border-radius: 20px;
            padding: 15px;
            width: 200px;
        }
        .investimento {
            ion-label {
                h3 {
                    color: #9b94a3;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                    color: #1dcc70;
                }
            }
        }
        .poupanca {
            margin-left: 10px;
            ion-label {
                h3 {
                    color: #9b94a3;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                    color: #ff3a70;
                }
            }
        }
    }

    .separador {
        background: #ededf5;
        height: 5vh;
        // border: red dashed 2px;
        margin-top: -20px;
    }

    .container {
        background: #ededf5;
        color: #000000;
        .dividor-demonstrativo {
            margin-top: -10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            ion-label {
                font-weight: bold;
            }
            ion-text {
                font-size: 14px;
                color: #919bf4;
            }
        }
        .transacoes {
            .transacoes-card {
                background: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                width: 94%;
                margin: auto;
                border-radius: 10px;
                margin-bottom: 10px;
                .imagem {
                    width: 40px;
                    height: 40px;
                    img {
                        border-radius: 10px;
                    }
                }
                .favorecido {
                    margin-left: -8vh;
                    h3 {
                        font-weight: bold;
                    }
                }
                .valor {
                    font-weight: bold;
                }
            }
        }
    }
}

.valor-negativo {
    font-weight: bold;
    color: #FF396F;
}