@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: Poppins-Regular;
    src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: SF-Regular;
    src: url(./assets/font/SFPro/SF-Pro-Display-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Mukta-Regular;
    src: url(./assets/font/Mukta/Mukta-Regular.ttf);
}

@font-face {
    font-family: Belanosima-Regular;
    src: url(./assets/font/Belanosima/Belanosima-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(./assets/font/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./assets/font/Montserrat/static/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    font-family: TitilliumWeb-Regular;
}

.title {
    // border: red dashed 3px;
    background: #222222;
    height: 100vh;
    color: #F2F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-income-create,
.modal-wrapper {
    transition: 8s;
    position: absolute;
}