ion-header {
    ion-toolbar {
        ion-title {
            text-align: center;
            margin-top: 1rem;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

ion-content {
    form {
        ion-list {
            ion-item {

            }
        }
    }
    ion-button {
        width: 94%;
        margin: auto;
        text-transform: initial;
        height: 8vh;
        margin-top: 4vh;
    }
}