<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Criar Nova Despesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Favorecido</ion-label>
        <ion-input type="text" formControlName="nomeFavorecido" (click)="onPresentModalFavorecidoSearch()" placeholder="Favorecido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input formControlName="valor" placeholder="R$ 00,00"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Observação</ion-label>
        <ion-textarea formControlName="observacao" placeholder="Observação"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button (click)="createExpense()" expand="block" color="primary">
      <ion-label>
        Create
      </ion-label>
    </ion-button>

  </form>

</ion-content>